$green-dark: #004643;
$green-light: #abd1c6;
$yellow: #f9bc60;
$white: #fffffe;
$black: #001e1d;
$grey: #e8e4e6;
$red: #e16162;


$background: $green-dark;
$background-secondary: $green-dark;
$button: $yellow;
$buttonText: $black;
$headline: $white;
$paragraph: $green-light;
$stroke: $buttonText;
$secondary: $paragraph;
$main: $grey;
$tertiary: $red;
$highlight: $yellow;


